{% extends 'base/main.html' %}
{% block content %}

<div class="headers-bar">
    <h1>Task List</h1>
    

</div>

<div class="card-body">
    <h2>Create your account</h2>
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <p></p>

        <label>{{form.password1.label}}</label>
        {{form.password1}}

        <P></P>

        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top: 10px;" class="button center" type='submit' value='Register'>
    
    </form>

    <div class="register-container">
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </div>

</div>

{% endblock content %}